.gitignore
netcdfs/*.nc
zarrs/*
py
__pycache__
MigrateCodes.ipynb
csv/exceptions.csv
csv/*test*
ncsv/*
GC/*
GC_exps/*
csv1/*
csv2/*
logs_abbey
logs_carney
dsets/*
issues/*
shelf/*
logs/*
olds/*
notebooks_keep/*
*~
upload
download
csv/pangeo-cmip6-2020*
csv/pangeo-cmip6-2021*
csv/errata-files-2020*
.ipynb_checkpoints
new
csv/ESGF*
csv/needed*
*.lock
old_catalogs/*
