netcdfs/*.nc
zarrs/*
py
__pycache__
MigrateCodes.ipynb
csv/exceptions.csv
csv/*test*
ncsv/*
dsets/*
issues/*
shelf/*
logs/*
logs/progress*
notebooks_keep/*
*~
upload
download
.ipynb_checkpoints
new
csv/ESGF*
csv/needed*
*.lock
