.gitignore
netcdfs/*.nc
zarrs/*
py
__pycache__
MigrateCodes.ipynb
ncsv/*
GC/*
logs_abbey
logs_carney
dsets/*
issues/*
shelf/*
logs/*
olds/*
notebooks_keep/*
*~
upload
download
csv/pangeo-cmip6-2021*
.ipynb_checkpoints
new
*.lock
old_catalogs/*
